h1 {
    font-family: 'Brush Script MT', cursive;
}

.input {
    justify-content: center;
    margin: 12px !important;
    width: 60ch;
    color: honeydew !important;
}

Button {
    width: 62ch;
    background-color:green !important;
}