.add-form-div {
    max-width: 400px !important;
}

/* .add-form-paper {
    margin: 0 !important;
    padding: 24px !important;
    max-width: 500px;
    box-shadow: 0px 0px 9px 3px rgba(22, 136, 47, 0.74) inset !important;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(22, 136, 47, 0.74) inset !important;
    -moz-box-shadow: 0px 0px 9px 3px rgba(22, 136, 47, 0.74) inset !important;
} */

.date-picker {
    width: 45ch;
    margin: 8px 64px 8px 64px !important;
}

.select {
    margin: 8px 64px 8px 64px !important;
    min-width: 45ch !important;
}

.input {
    margin: 8px 64px 8px 64px !important;
    width: 45ch !important;
}

.add-record-btn {
    margin: 8px 50px 8px 300px !important;
    width: 45ch !important;
}

.errorMsg {
    font-size: 14px;
    color: red;
    margin-left: 9ch;
}
