.add-form-div {
    max-width: 500px;
}

.add-form-paper {
    /* margin: 100px 500px !important; */
    margin: 0 !important;
    padding: 24px !important;
    max-width: 500px;
    box-shadow: 0px 0px 9px 3px rgba(22, 136, 47, 0.74) inset !important;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(22, 136, 47, 0.74) inset !important;
    -moz-box-shadow: 0px 0px 9px 3px rgba(22, 136, 47, 0.74) inset !important;
}

.date-picker {
    width: 25ch;
    margin: 8px !important;
}

.select {
    margin: 8px !important;
    min-width: 25ch !important;
}

.input {
    margin: 8px !important;
    width: 25ch !important;
}

.add-record-btn {
    margin: 8px 50px 8px 250px !important;
    width: 20ch !important;
}
