.daily-main-div {
    max-width: 100% !important;
}

.daily-div {
    width: 70%;
    height: 60ch;
}

.pageContent {
    margin: 54px 40px 54px 40px;
    padding: 24px;
    background-color: whitesmoke;
    border-radius: 7px;
}

.add-record-btn {
    margin: 8px 50px 8px 300px !important;
    width: 20ch !important;
}

.edit-record-btn {
    margin: 8px 50px 8px 300px !important;
    width: 20ch !important;
    color: green !important;
}

.add-new {
    margin-left: 100ch !important;
    width: 20ch !important;
}

.add-new-month {
    margin-left: 65ch !important;
    width: 20ch !important;
}
