@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

.App {
  background-color: rgb(208, 227, 233);
}
